<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>Experimento combinatorio con <i>Farabeuf</i> de Salvador Elizondo</h2>
    <form method="POST" action="/iterate" enctype=multipart/form-data>
      <p>
		<select name="user_selection">
		  <option value="todo" selected>Iterar todo el libro</option>
		  <option value="dr_farabeuf_1">Iterar unos fragmentos del <i>Doctor Farabeuf</i></option>
		  <option value="dr_farabeuf_2">Iterar otros fragmentos del <i>Doctor Farabeuf</i></option>
		  <option value="enfermera">Iterar fragmentos de la <i>enfermera</i></option>
		  <!-- <option value="no_personajes">Iterar fragmentos sin personajes</option> -->
		</select>
        <input type="submit" value="Ejecutar">
    </form>
